doctype html
html(lang='en')
  head
    title Login V15
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/daterangepicker/daterangepicker.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='stylesheets/util.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
    // ===============================================================================================
  body
    .limiter
      .container-login100
        .wrap-login100
          .login100-form-title(style='background-image: url(images/bg-01.jpg);')
            span.login100-form-title-1
              | Sign In
          if message.length > 0
            div.alert.alert-danger= message
          form.login100-form.validate-form(action='/login' method='post')
            .wrap-input100.validate-input.m-b-26(data-validate='Email is required')
              span.label-input100 Email
              input.input100(type='text', name='email', placeholder='Enter email')
              span.focus-input100
            .wrap-input100.validate-input.m-b-18(data-validate='Password is required')
              span.label-input100 Password
              input.input100(type='password', name='password', placeholder='Enter password')
              span.focus-input100
            .flex-sb-m.w-full.p-b-30
              div
                a.txt1(href='signup')
                  | Sign up?
            .container-login100-form-btn(style={display: inline})
              button.login100-form-btn(type='submit')
                | Login
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='vendor/bootstrap/js/popper.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='vendor/daterangepicker/moment.min.js')
    script(src='vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='javascripts/main.js')