doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')

    script(src='vendor/bootstrap/js/popper.js')
    script(data-require='jquery@2.2.4', data-semver='2.2.4', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    link(data-require='bootstrap@3.3.7', data-semver='3.3.7', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(data-require='bootstrap@3.3.7', data-semver='3.3.7', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')


  body
    include menu.pug

    block content
