extends ../layout

block content

    each movie in movies
        .list-group(style={margin:"auto", width:"80%", "margin-top":"10px" })
            button.btn.btn-secondary.list-group-item.list-group-item-action.flex-column.align-items-start(type='button' data-container='body', data-toggle='popover', data-placement='top', data-img= movie.imageUrl, data-desc= movie.description)
                .d-flex.w-80.justify-content-between
                    h4.mb-1= movie.title
                    small= movie.year
                p.mb-1= movie.topics

    if !movies.length
        p No movies found.


        | Popover on top


    if nextPageToken
        nav
            ul.pager
                li
                    a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More

    script.
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                container: 'body',
                html: true,
                placement: 'bottom',
                trigger: 'hover',
                content: function () {
                    var url = $(this).data('img');
                    var description = $(this).data('desc');
                    return '<p style="text-align: justify; font-size: 24px"><img src="' + url + '" width="30%" height="100%" style="margin-right:5px; float:left;"/>'+ description + '</p>'
                }
            });
        });